html, body {
	padding: 0;
	margin: 0;
}

#menu {
	position: fixed;
	width: 100%;
	z-index: 1001;
	background-color:#3F51B5;
}

#home {
	position: relative;
	color: #fff;
	height: 638px;
	background-image: url("/jtcgen/assets/img/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

#home .container .presentation {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	top: 25%;
	width: inherit;
}

#home .container .presentation .project-name{
	font-size: 52px;
}

#get-started {
	padding-top:15px;
	padding-bottom: 30px;
}

#get-started  .btn {
	font-size: 32px;
	padding: 20px 30px;
}

#presents {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	width: 100%;
	height: auto;
}

#documentation {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: auto;
}
#documentation  h2, #presents h2{
	padding-bottom: 20px;
}

#footer {
	color:#fff;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:#7280ce;
}