package {{PACKAGE}};

import static org.junit.Assert.*;

import org.junit.AfterClass;
import org.junit.BeforeClass;
import org.junit.Test;

public class Test{{CLASSNAME}} {

	{{MEMBERVARS}}

	@BeforeClass
	public static void setUpBeforeClass() throws Exception {
		
		{{SETUP}}
		
	}
	
	{{TESTMETHODS}}

	@AfterClass
	public static void tearDownAfterClass() throws Exception {
		
		{{TEARDOWN}}
	
	}

}
