package {{PACKAGE}};

import static org.junit.Assert.*;

import org.junit.After;
import org.junit.Before;
import org.junit.Test;

public class Test{{CLASSNAME}} {

	{{MEMBERVARS}}

	@Before
	public void setUp() throws Exception {
		
		{{SETUP}}
		
	}
	
	{{TESTMETHODS}}

	@After
	public void tearDown() throws Exception {
		
		{{TEARDOWN}}
	
	}

}
